.todo {
  position: relative;
  height: 100%;
  padding: 1vw 1vw 1vh 2vw;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25% 75%;
}

.createTodo {
  // border: 1px solid red;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  align-items: center;
  button {
    margin-top: 2vh;
    position: relative;
    box-shadow: 1px 1px 5px 1px rgb(218, 218, 218);
    z-index: 2;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10vw;
      height: 3vw;
      background: rgb(107, 46, 221);
      transform: translate(-50%, -50%) scale(0);
      transition: 0.2s;
      z-index: -1;
      border-radius: 0.4rem;
    }
    i {
      margin-right: 0.8vw;
    }
    // padding: 1vw;
    width: 10vw;
    height: 3vw;
    color: rgb(61, 61, 61);
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    // font-weight: bold;
    // background: blue;
    // border: 1px solid rgb(43, 43, 43);
    border: none;
    border-radius: 0.4rem;
    outline: none;
    background: rgb(241, 242, 255);
    transition: 0.2s;
    &:hover {
      //   background: rgb(78, 78, 255);
      color: white;
      //   border: 1px solid white;
      cursor: pointer;
      &:before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.todoList {
  grid-column: 1 / span 7;
}
